<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ditto.hiask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for mta statistics -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".HiaskApplication"
        android:allowBackup="true"
        android:icon="@drawable/ask28"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ask108"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!-- 设置高德地图key -->
        //AMAP key debug: 4d83adc4a7dea5315096f8629a8c9a02
        //AMAP key release: 0cb63f20a55885d177339e9d50f0f87b
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0cb63f20a55885d177339e9d50f0f87b" />
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2810973698" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!--保活服务和定期获取位置-->
        <service android:name="org.ditto.lib.usecases.AppServiceKeepliveTraceImpl" />
        <service android:name="org.ditto.lib.usecases.AppServiceCommandSenderImpl" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="org.ditto.hiask.todo.TodoActivity"
            android:label="@string/title_activity_todo"
            android:theme="@style/Theme.ActivityDialogStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="77db00f3825405f27ba8b8dabfd9c6c4c4c0a903" />

    </application>

</manifest>